.header {
    height: 64px;
    background-color: #fff !important;
    .logo {
        background-color: #fff;
        line-height: 64px;
        margin-right: 12px;
        img {
            max-height: 48px;
            display: block;
        }
    }
}