.update-undertake-wp {

    .row,
    .undertake-row {
        padding: 4px 0;

        textarea {
            padding: 6px 14px;
        }
        input {
            padding: 6px 14px;
        }
    }

    .undertake-row-item {
        
    }
}